.DS_Store
*.swp
*~.nib

build/
tmp/

.DS_Store

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata/

DerivedData

Crashlytics.framework/

Pods

.bundle

Crashlytics.framework

*.xccheckout

metadata/
screenshots/
Preview.html

fastlane/README.md
fastlane/report.xml
